.fileDiv{
	margin-top:10px;
}
.delButton{
	display:inline;
	margin-left: 20px;
}
#loadWrapper{
	width:100%;
	height:100%;
	position:absolute;
	top:-50px;
	left:-50px;
	display:none;
	z-index: 6;
	overflow: hidden;
}
#overlay{
	position:absolute;
	width:100%;
	height:100%;
	z-index: 5;
	background: rgba(255,255,255,0.8);
	top:0;
	left:0;
	overflow: hidden;
	display: none;

}
#load{
	position:absolute;
	top:50%;
	left:50%;
}